/* Page header & location selection */
#page_header {
    text-align: center;
}

#location_selection_container {
    text-align: center;
}

/* Seven day forecast */
#seven_day_header {
    text-align: center;
}

#seven_day_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.seven_day_period {
    background-color: rgba(74, 160, 255, 0.7);
    border-radius: 10px;
    border: 1px solid #00000069;
    width: 250px;
    height: 350px;
    padding: 6px;
    margin: 8px;
}

/* Hourly forecast */
#hourly_header {
    text-align: center;
}

#hourly_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.hourly_period {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #00000069;
    width: 200px;
    height: 250px;
    padding: 6px;
    margin: 8px;
}

/* Footer */
.page_footer {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.06);
}

#page_links {
    padding-top: 20px;
    text-align: center;
    vertical-align: start;
}