/* Page header & location selection */
#page_header {
    text-align: center;
}

#location_selection_container {
    text-align: center;
}

/* Seven day forecast */
#seven_day_header {
    text-align: center;
}

#seven_day_container {
    display: flex;
    overflow: auto;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

#seven_day_container:nth-child() {
    border-right: 1px solid #00000069;
}

.seven_day_period {
    background-color: rgba(0, 0, 0, 0.15);
    min-width: 250px;
    border-right: 1px solid #00000069;
    height: 350px;
    padding: 6px;
}

.seven_day_period:last-child {
    border-right: none;
}

/* Hourly forecast */
#hourly_header {
    text-align: center;
}

#hourly_container {
    display: flex;
    overflow: auto;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

.hourly_period {
    background-color: rgba(0, 0, 0, 0.15);
    border-right: 1px solid #00000069;
    min-width: 200px;
    height: 250px;
    padding: 6px;
}

.hourly_period:last-child {
    border-right: none;
}

/* Footer */
.page_footer {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
}

#page_links {
    padding-top: 20px;
    text-align: center;
    vertical-align: start;
}